@model List<AppUserRole>
@{
    ViewData["Title"] = "Role Management";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header col-lg-9">
        <div class="row">
            <div class="col-md-9">
                <span>Role List</span>
            </div>
            <div class="col-md-3 text-right">
                <a asp-action="Create" asp-controller="Role" class="btn btn-outline-primary">Add Role</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-lg-9">
            <table id="roleTable" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>@role.Description</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Role" asp-route-id="@role.Id" class="btn btn-sm btn-warning">Update</a>|
                                <a asp-action="Delete" asp-controller="Role" asp-route-id="@role.Id" class="btn btn-sm btn-danger">Delete</a>|
                                <a asp-action="Details" asp-controller="Role" asp-route-id="@role.Id" class="btn btn-sm btn-success">User List</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script>

        $(document).ready(function () {
            $('#roleTable').DataTable();
        });

    </script>

}
