@model Model
@{
    ViewData["Title"] = "Create Model";
    Layout = "~/Areas/Organizing/Views/Shared/_OrganizingLayout.cshtml";
}


<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-md-9">
                <span>Add Model</span>
            </div>
            <div class="col-md-3 text-right">
                <a asp-action="Index" asp-controller="Model" class="btn btn-default btn-sm">Back To List</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Firstname</label>
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                    <input type="text" asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Lastname</label>
                    <span class="text-danger" asp-validation-for="LastName"></span>
                    <input type="text" asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <input type="text" asp-for="Email" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <input type="text" asp-for="Adres" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Tel</label>
                    <input type="text" asp-for="Tel" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select name="Gender" class="form-control">
                        @foreach (var item in TempData["gender"] as Array)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Birthdate</label>
                    <input type="date" asp-for="Birthdate" class="form-control" />
                </div>
                <div class="form-group">
                    <label>ShoeNumber</label>

                    <input type="text" asp-for="ShoeNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label>BodySize</label>
                    <input type="text" asp-for="BodySize" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input type="text" asp-for="Weight" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Height - cm</label>
                    <input type="text" asp-for="Height" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Profile Photo</label>
                    <input type="file" name="formFile" />
                </div>

                <div class="form-group">
                    <label>Eye Color</label>
                    <select name="EyeColor" class="form-control">
                        @foreach (var item in TempData["eyeColor"] as Array)
                        {
                            <option value="@item">@item </option>
                        }


                    </select>

                </div>
                <div class="form-group">
                    <label>Hair Color</label>
                    <select name="HairColor" class="form-control">
                        @foreach (var item in TempData["hairColor"] as Array)
                        {
                            <option value="@item">@item </option>
                        }


                    </select>

                </div>
                <div class="form-group">
                    <div class="row">                    
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label>Has driving licence?</label>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <label>Yes</label>
                                            <input type="radio" id="licenceY" value="true" name="HasDriverLicence" />
                                        </div>
                                        <div class="col">
                                            <label>No</label>
                                            <input type="radio" id="licenceN" value="false" name="HasDriverLicence" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Foreign Language</label>
                    <select name="ForeignLanguage" class="form-control">
                        @foreach (var item in TempData["foreignLang"] as Array)
                        {
                            <option value="@item">@item </option>
                        }


                    </select>

                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select name="Category" class="form-control">
                        @foreach (var item in TempData["modelCategory"] as Array)
                        {
                            <option value="@item">@item </option>
                        }


                    </select>

                </div>
                <div class="form-group">
                    <label>Note</label>
                    <input type="text" asp-for="Note" class="form-control" />
                </div>


                <button type="submit" class="btn btn-success">Create</button>
            </form>

        </div>
    </div>




</div>


