@model IEnumerable<Model>
@{
    ViewData["Title"] = "Model List";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header col-lg-9">
        <div class="row">
            <div class="col-lg-9">
                <span>Model List</span>
            </div>           
        </div>

    </div>
    <div class="card-body col-lg-9">
        <table id="modelTable" class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Eye Color</th>
                    <th>Hair Color</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Body Size</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/images/modelImage/@item.ProfilePhotoPath" alt="@item.FirstName" class="card-img" />

                        </td>
                        <td>
                            @item.ID
                        </td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.EyeColor</td>
                        <td>@item.HairColor</td>
                        <td>@item.Height</td>
                        <td>@item.Weight</td>
                        <td>@item.BodySize</td>
                        <td>@item.Category</td>

                        <td class="col-2 text-center">                                                          
                                <a asp-action="Details" asp-controller="AdminModel" asp-route-id="@item.ID" class="btn btn-sm btn-success">Details</a>                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script>

        $(document).ready(function () {
            $('#modelTable').DataTable();
        });

    </script>

}

